<section class="py-8 container  bg-white md:py-16 dark:bg-gray-900 antialiased  shope">

    <div class="flex items-center p-0 gap-4 flex-wrap mb-6 justify-between px-3 ">
        <div class="flex flex-wrap gap-2 ">
            <button (click)="filterByCategory('')"
                class=" cursor-pointer  px-4 py-1 border rounded-md bg-white text-gray-700 shadow-sm hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-primary-500 dark:bg-gray-800 dark:text-white dark:border-gray-600">
                All
            </button>
            <button (click)="filterByCategory('men\'s clothing')"
                class=" cursor-pointer px-4 py-1 border rounded-md bg-white text-gray-700 shadow-sm hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-primary-500 dark:bg-gray-800 dark:text-white dark:border-gray-600">
                py-1 Men
            </button>
            <button (click)="filterByCategory('women\'s clothing')"
                class="cursor-pointer px-4 py-1 border rounded-md bg-white text-gray-700 shadow-sm hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-primary-500 dark:bg-gray-800 dark:text-white dark:border-gray-600">
                Women
            </button>
            <button (click)="filterByCategory('jewelery')"
                class="cursor-pointer px-4 py-1 border rounded-md bg-white text-gray-700 shadow-sm hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-primary-500 dark:bg-gray-800 dark:text-white dark:border-gray-600">
                Jewelery
            </button>
            <button (click)="filterByCategory('electronics')"
                class="cursor-pointer px-4 py-1 border rounded-md bg-white text-gray-700 shadow-sm hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-primary-500 dark:bg-gray-800 dark:text-white dark:border-gray-600">
                Electronics
            </button>



        </div>

        <div class="flex flex-wrap gap-3 p-4 items-center">
            <select (change)="sortProducts($event)"
                class="px-4 py-2 cursor-pointer border rounded-md bg-white text-gray-700 shadow-sm hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-primary-500 dark:bg-gray-800 dark:text-white dark:border-gray-600">
                <option value="">Sort By</option>
                <option value="price-asc">Price: Low to High</option>
                <option value="price-desc">Price: High to Low</option>
                <option value="name-asc">Name: A–Z</option>
                <option value="name-desc">Name: Z–A</option>
            </select>

            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="text" [(ngModel)]="searchQuery" (input)="filterProductsByName()" placeholder="Search..."
                    class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
        </div>
    </div>

    <h2 class="text-center text-gray-900 text-2xl font-bold underline capitalize  dark:text-white"> {{pageTilte}}</h2>

    <div *ngIf="noResults" class="mt-4 text-center text-red-500 font-semibold">
        <strong> No Product Match</strong>
    </div>
    <app-product-list [ProdcutList]="filteredProducts"></app-product-list>
</section>